body {
	font-family: "Palatino Linotype", sans-serif;
	font-size:16px;
	line-height:1.5;
	background: #eef;
	text-align:justify;
}
header {
	font-family: 'Montserrat', sans-serif;
	font-size:90px;
	color:yellow;
	background-image: url("kaaba.jpg");
	text-align:center;
	text-transform:uppercase;
}
img{
	width:13%;
	float:right;
	clear:both;
}
article, aside, footer, header, menu, nav, section {
display: block;
}
article,section{
	margin:50px;
}
text{
	margin:5px;
}
footer{
	text-align:center;
	color:white;
	background:gray;
}